.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.loader {
  display: inline-block;
  position: relative;
}

.loader.small {
  width: 30px;
  height: 30px;
}

.loader.medium {
  width: 50px;
  height: 50px;
}

.loader.large {
  width: 80px;
  height: 80px;
}

.loader-spinner {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  animation: loader-spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-top-color: #667eea;
}

.loader-spinner:nth-child(1) {
  animation-delay: -0.45s;
}

.loader-spinner:nth-child(2) {
  animation-delay: -0.3s;
}

.loader-spinner:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-message {
  margin-top: 15px;
  color: #666;
  font-size: 14px;
  text-align: center;
}

/* Overlay loader */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Button loader */
.button-loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: button-spin 1s ease-in-out infinite;
}

@keyframes button-spin {
  to {
    transform: rotate(360deg);
  }
}